@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "main";
  src: url("./fonts/Futura-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";

  ::selection {
    color: white;
    background-color: black;
  }
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
}

.loading {
  background-color: #e31a70;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.loadingitems {
  height: 500px;
  width: 500px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); /*safari and chrome*/
  -moz-transform: translate(-50%, -50%); /*firefox*/
  -ms-transform: translate(-50%, -50%); /*Internet explorer*/
  text-align: center;
  align-items: center;
  justify-content: center;
}

.loadingitems .pandaloading {
  margin-top: 30px;
}

.loadingitems .loaderimg {
  height: 100vh;
  width: 100%;
  scale: 2.1;
  margin-top: -140px;
}

.loadingitems h1 {
  font-family: "main";
  color: white;
  font-size: 3rem;
  margin-top: -40px;
  letter-spacing: 2px;
}

.nav {
  height: 80px;
  width: 100%;
  z-index: 10;
  padding: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.nav_part1 {
  height: 82px;
  overflow: hidden;
}

.nav_part1 img {
  height: 30px;
  display: block;
}

.nav .nav_part2 {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.links a {
  font-size: 15px;
  margin-right: 40px;
  text-decoration: none;
  font-weight: 400;
  color: #333;
}

.links a:hover {
  color: #e31a70;
}

.iconnav i {
  font-size: 20 px;
  margin: 0 20px;
  font-weight: 600;
}

.iconnav {
  padding: 10px;
  color: white;
  border-radius: 20px;
  background-color: #e31a70;
}

.cursor {
  height: 200px;
  width: 200px;
  background-color: #f175aa80;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);
}

.page1 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 3vh;
  padding-top: 18vh;
}

.page1 h1 {
  font-size: 13vw;
  text-transform: uppercase;
  line-height: 15vw;
  font-family: "main";
}

.take {
  color: #e31a70;
}

.video-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-container .play {
  padding: 3vw 2.3vw;
  background-color: black;
  color: white;
  font-size: 1.5vw;
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  scale: 0;
  text-transform: uppercase;
  font-family: "main";
}

.one {
  padding: 10px;
  border-radius: 50px;
}

.page2 {
  min-height: 100vh;
  width: 100%;
  padding-top: 2vw;
  padding-right: 1vw;
  padding-left: 1vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page2 .elem {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2vw 2vw;
  overflow: hidden;
}

.page2 .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}

.page2 .elem .dets {
  height: 60px;
  z-index: 9;
  border-radius: 50px;
  width: 70%;
  position: relative;
  position: absolute;
  overflow: hidden;
  transition: ease-in-out 0.5s;
  background-color: #c3d7c5;
}

.page3 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.child {
  height: 55vh;
  width: 40vw;
  margin-bottom: 3vw;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.child h2 {
  margin-top: 7px;
  color: #e31a70;
}

.child p {
  color: gray;
}

.child img {
  height: 100%;
}

.page2 .elem .dets:hover {
  .itemtop h4 {
    color: #e31a70;
  }
  height: 400px;
  cursor: pointer;
}

#dets2 {
  background-color: #f5dfcf;
}

#dets3 {
  background-color: #ffffff;
}

.dets .itemtop {
  display: flex;
  align-items: center;
  padding: 1.5vw;
  justify-content: space-between;
}

.dets .circleshape {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
}

.showitem {
  display: flex;
  align-items: center;
}

.pageinfo {
  display: flex;
  height: 60vh;
  padding: 2vw 2vw;
  justify-content: space-between;
  width: 100%;
}

.maintext {
  height: 100vh;
  width: 50vw;
}

.maintext h1 {
  font-size: 2.5rem;
  font-family: "main";
}

.ptag h1 {
  font-family: "main";
  font-size: 2rem;
  text-align: start;
}

.ptag {
  height: 100%;
  width: 50vw;
  text-align: start;
  justify-content: start;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.ptag p {
  margin-top: 2rem;
  height: 100%;
  width: 425px;
  text-align: start;
  align-items: end;
  font-size: 1.1rem;
  line-height: 25px;
}

.mostsell {
  text-align: center;
}

.ptag button {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  background-color: #e31a70;
  border: none;
  font-size: 1.1rem;
  text-align: start;
  padding: 1vw;
  border-radius: 40px;
}

.ptag button:hover {
  background-color: #c01660;
  cursor: pointer;
  color: white;
}

#page3 {
  padding-bottom: 50px;
}

.page4 {
  height: 65vh;
  width: 100vw;
  border-radius: 30px;
}
.put {
  padding: 2vw 4vw;
}

.mobilecard {
  height: 100%;
  width: 92vw;
  margin: auto;
  display: flex;
  border-radius: 30px;
  background-color: #e6347e;
}

.appimg img {
  scale: 1.3;
  padding-bottom: 25px;
  height: 100%;
  width: 100%;
}

.appinfo h1 {
  color: white;
  padding: 3rem;
  font-size: 30px;
  margin-top: 10px;
}

.qrtext {
  height: 25vh;
  width: 100%;
  display: flex;
  padding: 0 3rem;
}

.qrtext img {
  height: 150px;
}

.qrtext p {
  height: 100ch;
  width: 450px;
  font-size: 22px;
  padding-top: 10px;
  color: white;
  padding-left: 3rem;
}


.page5 {
  height: 100vh;
  width: 100vw;
  margin-top: 30px;
  padding-top: 20px;
}

.download{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 130px;
  
}

.smalldev{

  display: none;
}

.store{
  height: 80px;
  width: 200px;
  border: solid;
  border-width: 0.3px;
  border-radius: 17px;
  border-color: white;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #363636;
}

.logo img{
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.ingostore {

   color: white;
}

.ingostore h2{
  font-weight: 600px;
}

.page5{

  height: auto;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.page5LE{
  display: flex;
  min-height: wrap;
  max-width: 100%;
  padding: 2rem;
}


.meet h1{
  font-size: 7em;
  font-family: "main";
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #333;
  -webkit-text-stroke-width: 1px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  
}

.ourteam h1{

  font-size: 6em;
  font-family: "main";
  color: #e31a70;
  text-transform: uppercase;

}

.ourteam p{
  font-size: 18px;
}

.page5RE{
  padding: 2rem;
}

.page5RE img{

  height: 500px;


}
/* responsive code */

/* ------------- */

@media (max-width: 600px) {


  .page1 {
    margin-top: -80px;
    min-height: 70vh;
    width: 100%;
  }

  .page1 h1 {
    font-size: 11.8vw;
    line-height: 15vw;
  }

  .video-container {
    height: 30vh;
    position: relative;
    margin-top: 2vw;
  }

  .video-container .play {
    padding: 9.5vw 7.2vw;
    background-color: #e31a70;
    color: white;
    font-size: 4vw;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 1;
    scale: 1;
    position: fixed;
    text-transform: uppercase;
    font-family: "main";
  }

  .page2 {
    min-height: 100vh;
    width: 100%;
    padding-top: 3vw;
    padding-right: 1.8vw;
    padding-left: 1.8vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .page2 .elem {
    height: 70vh;
    width: 100%;
    margin-bottom: 4vw;
    overflow: hidden;
  }

  .page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
  }

  .page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .child {
    height: 55vh;
    width: 100vw;
    padding: 40px;
    margin-bottom: 3vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .child img {
    height: 100%;
  }

  .pageinfo {
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding: 2vw 2vw;
    justify-content: space-between;
    width: 100%;
  }

  .maintext {
    height: 100vh;
    width: 100%;
  }

  .maintext h1 {
    display: none;
    font-family: "main";
  }

  .ptag {
    height: 100%;
    width: 100vw;
    justify-content: center;
    display: flex;
  }

  .ptag p {
    height: 100%;
    width: 100vw;
    padding: 10px;
    text-align: start;
    font-size: 1.1rem;
    line-height: 25px;
  }

  .ptag button {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 1rem;
    background-color: #e31a70;
    border: none;
    font-size: 1.1rem;
    text-align: start;
  }

  .ptag h1 {
    padding: 10px;
    font-size: 25px;
  }

  .ptag button:hover {
    cursor: pointer;
    border-bottom: solid;
    font-style: italic;
    font-weight: 500;
    border-color: black;
    border-width: 2px;
  }

  .page2 .elem .dets {
    height: 40px;
    z-index: 9;
    border-radius: 40px;
    width: 70%;
    position: relative;
    position: absolute;
    overflow: hidden;
    transition: ease-in-out 0.5s;
    background-color: #c3d7c5;
  }

  .page2 .elem .dets:hover {
    height: 300px;
  }

  .dets .itemtop {
    display: flex;
    align-items: center;
    padding: 2.8vw;
    justify-content: space-between;
  }

  .nav {
    height: 80px;
    width: 100%;
    z-index: 10;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .nav_part1 {
    height: 82px;
    overflow: hidden;
  }

  .nav_part1 img {
    height: 30px;
    display: block;
  }

  .nav .nav_part2 {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }

  .links a {
    display: none;
  }

  .links a:hover {
    color: #e31a70;
  }

  .iconnav i {
    font-size: 20 px;
    margin: 0 20px;
    font-weight: 600;
  }

  .iconnav {
    display: flex;
    padding: 10px;
    color: white;
    border-radius: 20px;
    background-color: #e31a70;
  }


.mobilecard {
  height: 100%;
  width: 92vw;
  display: flex;
  flex-direction: column;
  border-radius: 17px;
  overflow: hidden;
  background-color: #e6347e;
}

.appimg img {
  display: none;
}

.appinfo h1 {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.smalldev{

  color: white;
  font-size: 15px;
  font-style: bold;
  display: flex;
  margin-top: 30px;
}



.qrtext {
  height: 24vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qrtext img {
  height: 200px;
}

.qrtext p {
  display: none;
}


.page5 {
  height: 100vh;
  width: 100vw;
}

.download{
  display: none;
  
  
}

.page5{

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.page5LE{
  display: flex;
  min-height: wrap;
  min-width: 100vw;
}


.meet h1{
  font-size: 7em;
  font-family: main;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #333;
  -webkit-text-stroke-width: 0.1px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  
}

.ourteam h1{

  font-size: 6em;
  font-family: "main";
  color: #e31a70;
  text-transform: uppercase;

}

.ourteam p{
  font-size: 15px;
}


.page5RE img{

  height: 350px;
  display: flex;
  margin: auto;


}




}
